.button {
  cursor: pointer;
  position: relative;
  width: 350px;
  height: 200px;
  border: 7px solid transparent;
  border-radius: 28px;
  background: #fff;
  background-clip: padding-box;
  padding: 10px;
  transition: all 200ms ease-in;
  text-decoration: none;
  text-align: center;
}

.button::after {
  position: absolute;
  top: -7px;
  bottom: -7px;
  left: -7px;
  right: -7px;
  background: linear-gradient(var(--loopGradient));
  content: "";
  z-index: -1;
  border-radius: 28px;
}

.plus {
  font-size: 150px;
  font-family: "Gotham Pro Bold", sans-serif;
  font-weight: 700;
  background: -webkit-linear-gradient(var(--linearGradient));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
