.modalWrapper {
  position: relative;
  min-width: 300px;
  min-height: 350px;
  background-color: rgba(61, 57, 53, 0.07);
  padding: 2rem 1rem;
  margin: 0 auto;
}

.container {
  height: 350px;
  border: 6px dotted rgba(61, 57, 53, 0.09);
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.text::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url(../../assets/img/load.svg);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: 50% 30%;
  z-index: -9;
}

.text {
  font-family: inherit;
  font-size: 26px;
  line-height: 31px;
  color: var(--darkGrey);
}

.button {
  cursor: pointer;
  z-index: 9;
  width: 100%;
  border: 0;
  background-color: transparent;
}

.fileName {
  font-family: inherit;
  font-size: 20px;
  line-height: 31px;
  color: var(--darkGrey);
}
