.likeWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 50px;
  max-width: 90px;
  height: 35px;
  background-color: var(--lightGrey);
  border-radius: 28px;
  padding: 5px 10px;
  cursor: pointer;
}

.likeWrapper::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../../assets/img/empty-heart.svg);
  background-repeat: no-repeat;
}

.likeWrapper:hover {
  background-color: var(--lightGreyHover);
}

.amount {
  font-family: "Gotham Pro Bold", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: var(--darkGrey);
}

.active.likeWrapper {
  background-color: var(--lightGreenColor);
}

.active.likeWrapper::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../../assets/img/full-heart.svg);
  background-repeat: no-repeat;
}

.active.likeWrapper:hover {
  background-color: var(--lightGreenHover);
}

.active .amount {
  color: var(--greenColor);
}
