.title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-family: "Gotham Pro Bold", sans-serif;
  font-weight: 700;
  color: var(--greenColor);
}

@media screen and (max-width: 576px) {
  .title {
    margin-bottom: 1rem;
  }
}

.large {
  font-size: 102px;
}

@media screen and (max-width: 576px) {
  .large {
    font-size: 70px;
  }
}

.medium {
  font-size: 50px;
}

@media screen and (max-width: 576px) {
  .medium {
    font-size: 35px;
  }
}

.small {
  font-size: 30px;
}

@media screen and (max-width: 576px) {
  .small {
    font-size: 20px;
  }
}
