body {
  background-image: url(../../assets/img/fon-gl.png);
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: repeat;
  background-origin: padding-box;
  background-attachment: scroll;
  background-clip: border-box;
  image-rendering: -webkit-optimize-contrast;
  min-width: 320px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 55px;
  padding: 0 20px;
}
