.addWorkWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.workPreviewWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem 1rem;
}

@media screen and (max-width: 992px) {
  .workPreviewWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 1rem;
  }
}

@media screen and (max-width: 576px) {
  .workPreviewWrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem 1rem;
  }
}
