.title {
  text-align: center;
  font-family: "Gotham Pro Bold", sans-serif;
  font-size: 50px;
  line-height: 102px;
  color: var(--greenColor);
}

.addWorkWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.workPreviewWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem 1rem;
}
