@font-face {
  font-family: "Gotham Pro Bold", sans-serif;
  src: url("./assets/fonts/Gotham_Pro_Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro Regular", sans-serif;
  src: url("./assets/fonts/Gotham_Pro_Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

:root {
  --greenColor: #007041;
  --lightGreenColor: #d3e5db;
  --lightGreenHover: #c1dbc8;

  --darkGrey: #3d3935;
  --darkGreyHover: #504944;
  --lightGrey: #d8d8d8;
  --lightGreyHover: #c1c1c1;
  --coldGrey: #212529;
  --white: #f8f9fa;
  --lightGreen: #e9ecef;
  --loopGradient: 90deg, #007041, #fff, #007041;
  --linearGradient: -60deg, #007041, #328c66, #fff;

  --transparentGreenColor: rgba(0, 112, 65, 0.3);
  --transparentDarkGrey: rgba(61, 57, 53, 0.3);
  --iverseLoopGradient: 90deg, #fff, #007041, #fff;

  /* --breakpointSm: 576px; */
  /* --breakpoint-md: 768px; */
  /* --breakpointLg: 992px;
  --breakpoint-xl: 1200px; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

body {
  font-family: "Gotham Pro Regular";
  color: var(--coldGrey);
}

html {
  scroll-behavior: smooth;
}

.is-invalid {
  border-color: tomato !important;
}

.invalid-feedback {
  color: tomato !important;
  font-family: "Gotham Pro Bold", sans-serif;
}

.loader--hide {
  opacity: 0;
}

.spinner {
  width: 6em;
  height: 6em;

  border: 1.1em solid rgba(0, 112, 65, 0.2);
  border-left: 1.1em solid var(--greenColor);
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
  transition: opacity 0.3s;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* .activeLink {
  cursor: default;
  color: #1985a1;
} */
